<main>
    <div class="intro">
      <h1>WELCOME TO LIVE VIRTUAL CLASSES</h1>
      <p>Learn from the experts.</p>
      <div class="work">
        <i class="fas fa-skiing"></i>
        <p class="work-heading">Features</p>
        <p class="work-text">Learn the best courses according to your needs from your own home and comfort</p>
      </div>
      <div class="work">
        <i class="fas fa-ethernet"></i>
        <p class="work-heading">Expert support </p>
        <p class="work-text">Get the expert facalty support and guidence.</p>
      </div>
    </div>
    <div class="Courses">
      <div class="about-me-text">
        <h2>Our best courses</h2>
      </div>
      <div class="row">
        <a href="https://unsplash.it/1200/768.jpg?image=251" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
            <img src="../assets/images/mean.png" class="img-fluid">
        </a>
        <a href="https://unsplash.it/1200/768.jpg?image=252" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
            <img src="../assets/images/mern.png" class="img-fluid">
        </a>
        <a href="https://unsplash.it/1200/768.jpg?image=253" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
            <img src="../assets/images/java.png" class="img-fluid">
        </a>
    </div>
    </div>
    
  </main>
